.pagination {
    .active {
        .page-link {
            background-color: var(--primary-color);
            color: var(--hover-light-color);
            border: none;
            box-shadow: none;
        }
    }

    .page-item:last-child .page-link {
        border-radius: 16px;
        padding: 8px 18px;
    }

    .page-item:first-child .page-link {
        border-radius: 16px;
        padding: 8px 18px;
    }

    .page-link:focus {
        outline: none;
        box-shadow: none;
    }

    .page-item {
        margin: 0 5px;

        a {
            border-radius: 16px;
            padding: 8px 18px;
        }
    }
}
