
.chatbot-wrapper {
    display: flex;
    width: 100%;
    margin: 10px 0;
    gap: 15px;

    .chatbot-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        p {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }

    .chatbot-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}