.admin-container {
    display: flex;

    .admin-sidebar {
        .ps-collapsed {
            display: none;
        }
        .css-dip3t8 {
            display: flex;
            flex-direction: column;
            height: 100vh !important;
            .ps-menu-button {
                color: var(--text-color);
                &:hover {
                    background-color: var(--hover-light-color);
                }
            }
        }
        .sidebar-btn-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sidebar-btn {
                transition: width 0.3s;
                width: 190px;
                padding: 1px 15px;
                border-radius: 40px;
                color: var(--text-color);
                text-decoration: none;
                margin: 0 auto;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-overflow: ellipsis;
                overflow: hidden;
                span {
                    margin-left: 5px;
                    font-size: 13px;
                }
                &:hover {
                    background-color: var(--hover-light-color);
                }
            }
        }
    }
    .admin-content {
        flex: 1;
        .admin-content-header {
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu-icon {
            font-size: 20px;
            color: #3b61eb;
            cursor: pointer;

            &:hover {
                color: #244ee9;
            }
        }
    }
}
